:root {
    --divider: #6c757d;
    --linkColour: #1E69CA;
    --backgroundColour: #eee;
    --altBackgroundColour: #d6d6d6;
    --foregroundColor: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --divider: #6c757d;
        --linkColour: #6eb9ff;
        --backgroundColour: #161616;
        --altBackgroundColour: #2d2d2d;
        --foregroundColor: #d6d6d6;
    }
}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

html {

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 1.5em 2.5em 0.5em 2.5em;
    background-color: var(--backgroundColour);
    color: var(--foregroundColor);
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

    display: grid;
    grid-template-columns: auto 40vw auto;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: 2.5em;
    grid-template-areas:
        "header header header"
        ". main ."
        "footer footer footer";
    gap: 1em;
}

header {
    grid-area: header;
    text-align: center;
    font-size: 2em;
}

footer {
    grid-area: footer;
    text-align: center;
}

main {
    grid-area: main;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container {
    gap: 1em;
}
input {
    display: inline-block;
}
#uploader {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.button:hover {
    background: var(--backgroundColour);
}
.button.highlight {
    border-color: purple;
}
.button {
    background: var(--altBackgroundColour);
    border: 2px dashed #ccc;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 1em;
    min-height: 6em;
}
#fileElem {
    display: none;
}
.uploadOption {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 0.5em;
}
table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ccc;
    padding: 0.25em;
}
th {
    text-align: left;
}
td.spanned {
    text-align: center;
}

td.hidden {
    display: none;
}