</main>
<footer>
    <p>
        Powered by <a href="https://github.com/greboid/fileshare">fileshare</a>
        {{if .Version}}
            <br>
            {{.Version}}
        {{end}}
    </p>
</footer>
</body>
</html>