{{define "content"}}
    <form action="/uploadfile" enctype="multipart/form-data" method="post" class="uploader" id="uploader">
        <p>Upload files</p>
        <input type="file" id="fileElem" multiple onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Browse</label>
    </form>
    <div class="uploaded"></div>
{{end}}