{{define "content"}}
    <ul>
        {{ range .Files }}
            <li><a href="{{.GetURL}}">{{.GetFullName}}</a> ({{.GetHumanSize}}) {{.GetHumanExpiry}} <a class="deleteLink" href="#" data-file="{{.GetFullName}}">Delete</a></li>
        {{ end }}
    </ul>
{{end}}